<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">



<mapper namespace="com.zz.mapper.UserMapper" >

    <resultMap id="my" type="user">
        <id property="id" column="id"></id>
        <result property="name" column="name"></result>
        <collection property="scores" ofType="score">
            <id property="id" column="uid"></id>
            <result property="original_score" column="original_score"></result>
            <result property="userid" column="user_id"></result>
        </collection>
    </resultMap>

    <select id="findAll" resultMap="my">
        select u.id,u.name,s.original_score,s.user_id,s.id uid  from login_user u inner join  user_score s on u.id=s.user_id
        where u.id=1;
    </select>
</mapper>

